/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 sept. 2017, 21:22:42
    Author     : Mr_JYPY
*/

#fenetrePrincipal
{
    
  //  -fx-background-color:#F4FEFE;
    -fx-background-size: 100%;
}
.columnGlucide
{
    -fx-font-family: bold;
     -fx-font-size:13;
    -fx-background-color:burlywood;
}
.Energie
{
     -fx-background-color:#FFF0BC;
     -fx-font-family: bold;
     -fx-font-size:13;
     -fx-text-alignment: center;
}
#coloumPclipide
{
    -fx-background-color:#BBD2E1;
     -fx-font-family: bold;
     -fx-font-size:13;
     -fx-text-alignment: center;
}
#coloumPcprotide
{
       -fx-background-color:#80D0D0;
     -fx-font-family: bold;
     -fx-font-size:13;
     -fx-text-alignment: center;
}
#tableAliment
{
   
}
#tableIngredient
{
     -fx-background-color:#80D0D0;
}
.table-view .column-header  {
    -fx-background-color:#BABABA;
    -fx-font-weight: bold;
}
 #numeroAliment
 {
     -fx-background-color:#B3B191;
 }
 #tableBurkina
 {
     -fx-background-color:linear-gradient(to top right,#7D0000,#F2E783,#6B854B);
 }
 #tableNigeria
 {
      -fx-background-color:linear-gradient(to top right,green,white,green);
 }
 #tableBenin
 {
     -fx-background-color:linear-gradient(to top right,#095228,#FFD700,#A91101); 
     -fx-margin:2px;
 }
  #tableGhana
 {
     -fx-background-color:linear-gradient(to top right,#850606,yellow,black,#18391E); 
    
 }
 #tableSenegal
 {
      -fx-background-color:linear-gradient(to top right,green,yellow,#22780F,red);
 }
  #tableMali
 {
      -fx-background-color:linear-gradient(to top right,green,yellow,red);
 }
  #tableNiger
 {
     -fx-background-color:linear-gradient(to top right,orange,white,orange,green);
 }
 #tableGambie
 {
      -fx-background-color:linear-gradient(to top right,red,blue,green);
 }
  #tableGuinee
 {
       -fx-background-color:linear-gradient(to top right,red,yellow);
 }
 #labelAliment
 {
     -fx-alignment: CENTER;
     -fx-border-radius: 15px;
     -fx-background-color: #B3B191;
     
 }
 #validerMenu
 {
     -fx-background-color: #B7CA79;
 }
 #coteIvoire
 {
   -fx-background-color:linear-gradient(to top right,#F9A41E,white,green);
 }
 #tousRepas
 {
     -fx-background-color: #E9C9B1;
 }
 #paletteMenu
 {
     -fx-background-color:linear-gradient(to top right,darkkhaki,white,darkgrey,white);
 }