/*
 * Empty Stylesheet file.
 */

.fenetrePrincipal {
-fx-background-color:linear-gradient(to top right,#90EE90,white 30%,#90EE90,white,white,#90EE90);
}
#buttonCancel
{


 -fx-border-radius: 5px;
 -fx-background-color:#B82010;
     
}
.buttonCancel
{
 

 -fx-border-radius: 5px;
 -fx-background-color:#B82010;
     
}
.info
{
    -fx-font-size:17px; 
}
.coloneCentre
{
    -fx-alignment: center;  
}
.enregistrer
{
    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
}
.enregistrer:hover
{
     -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}
.label
{
   -fx-font-family: "Arial";
    -fx-text-fill: black;
    -fx-font-weight:bold;
}
.labelshaut
{
    background-color:red;
}
.nomFr
{

    -fx-font-weight :bold;
    -fx-border-color: #B82010;
    -fx-font-size : 14 px;

}
.obligatoie
{
    -fx-font-weight :bold;
    -fx-border-color:#ff3333;
    -fx-font-size : 12 px;
}
.nomAliment
{
    -fx-font-weight:bold;
    -fx-font-size :12 px;
    -fx-alignment: CENTER;
    -fx-text-fill:#660000;
}
.pu
{
    -fx-alignment: CENTER;
    -fx-font-weight :bold;
     -fx-font-size :12 px;
     -fx-text-fill:#330066;
}
.cuisson
{
    -fx-alignment: CENTER;
    -fx-font-weight :bold;
}
.pays
{
   -fx-alignment: CENTER;
    -fx-font-weight :bold;  
}
.txt
{
    -fx-font-weight :bold;
    -fx-border-color: #B82010;
    -fx-font-size : 14 px;
}
.recherche
{
    -fx-border-color: #00cc00;  
}
.num
{
   -fx-font-weight :bold; 
   -fx-alignment: CENTER;
}
.valeur
{
     -fx-font-weight:bold;  
     -fx-font-size : 14 px;
       -fx-alignment: CENTER;
       -fx-text-fill :#000066;
      -fx-font-family: "Courier New";
}
.valeur1
{
     -fx-font-weight:bold;  
     -fx-font-size : 14 px;
       -fx-alignment: CENTER;
      -fx-font-family: "Courier New";
}
#infoHaut
{
      -fx-font-size : 20 px;
      -fx-text-fill :#333300;
      -fx-font-weight:bold;
}
#combocn
{
       -fx-text-fill: red;
       -fx-font-weight:bold;
       -fx-background-color:#BBD2E1;
       -fx-cursor:hand;
       -fx-alignment: CENTER;
}