/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 sept. 2017, 20:16:12
    Author     : Mr_JYPY
*/

#img2 #im1
{
    -fx-image-borders: 25px;
    
}

#fenetrePaletteFood
{
      -fx-background-color:linear-gradient(to top right,#DBF7F3,white);
}
#panelTitre
{
    
}
#buttonReload
{
 -fx-background-image: url(/formuly/image/reload.jpg)   ;
 -fx-border-color: white;
 -fx-border-radius: 15px;
    
}
#buttonCancel
{
 //-fx-background-image: url(/formuly/image/cansel.png)   ;

 -fx-border-radius: 5px;
 -fx-background-color:#B82010;
     
}
#envoi
{
// -fx-background-image: url(/formuly/image/poussez.png)   ;
 -fx-border-color: white;   
}
#buttonValider
{
    -fx-background-color:#B3B191;
    
}
#ValeurEnergie
{
    -fx-background-color:linear-gradient(to top right, #f7f3f2 ,white, #f7f3f2 );
}
#partieLibelleBilanEn
{
   -fx-background-color:linear-gradient(to top right, #c4c196 ,white, #f7f3f2 );    
}
#boutonEnregistrer
{
    
}