/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 sept. 2017, 20:16:12
    Author     : Mr_JYPY
*/

#img2 #im1
{
    -fx-image-borders: 25px;
    
}

#fenetrePaletteFood
{
      -fx-background-color:linear-gradient(to top right,#DBF7F3,white);
}
#panelTitre
{
    
}
#buttonReload
{
 -fx-background-image: url(/formuly/image/reload.jpg)   ;
 -fx-border-color: white;
 -fx-border-radius: 15px;
    
}
#buttonCancel
{
 //-fx-background-image: url(/formuly/image/cansel.png)   ;

 -fx-border-radius: 5px;
 -fx-background-color:#B82010;
     
}
#envoi
{
// -fx-background-image: url(/formuly/image/poussez.png)   ;
 -fx-border-color: white;   
}
#buttonValider
{
    -fx-background-color:#B3B191;
    
}
#ValeurEnergie
{
    -fx-background-color:linear-gradient(to top right, #f7f3f2 ,white, #f7f3f2 );
}
#partieLibelleBilanEn
{
   -fx-background-color:linear-gradient(to top right, #c4c196 ,white, #f7f3f2 );    
}
#boutonEnregistrer
{
    
}
.buttons{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 1.25em; /* 12 */
    -fx-text-fill:#1B4F08;
}

.buttons:focused {
    -fx-border-color: transparent, black;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 2);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.buttons:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}
#pays
{
    -fx-alignment: CENTER;
    
}
.energie
{
/*     -fx-alignment: CENTER;
    -fx-background-color:#FFFAF0;   */
}
.aliment
{
  -fx-alignment: CENTER;
 -fx-font-weight:bold;
}
#combocn
{
      -fx-text-fill: red;
       -fx-font-weight:bold;
       -fx-background-color:#BBD2E1;
       -fx-cursor:hand;
        -fx-alignment: CENTER;
}
.colonneCentre
{
    -fx-alignment: center;
}

#nutr
{
 
    -fx-text-fill: #191d22;
      -fx-alignment: CENTER;
}
#energies
{
    -fx-alignment: CENTER;
    -fx-font-weight:bold;
    -fx-text-fill:#7D0000;
}
#qte
{
     -fx-font-weight:bold;
     -fx-text-fill: #006699;
}